<!DOCTYPE html>
<html>


<!-- Mirrored from templatebundle.net/templates/fastfood-html-template/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 29 Apr 2022 16:22:52 GMT -->
<head>
    <meta charset="utf-8">
    <title> Fast Food - Responsive Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viefsort">
    <meta name="description" content="">
    <meta name="keywords" content="asian food, bar, beer, cafe, chef, cooking, drink, events, fast food, food, menu, opentable, pizza, reservation, restaurant">
    <meta name="author" content="">
    <meta name="MobileOptimized" content="320">
	<!-- favicon links-->
     <link rel="icon" type="image/icon" href="favicon.png" />
    <!--start main style -->
    <link href="~/css/main.css" rel="stylesheet" type="text/css">
	<link href="~/css/fonts.css" rel="stylesheet" type="text/css">
    <link href="~/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="~/css/magnific-popup.css" rel="stylesheet" type="text/css">
	<link href="~/js/plugins/datepicker/jquery-ui.css" rel="stylesheet" type="text/css">
    <link href="~/js/plugins/revolution/css/settings.css" rel="stylesheet" type="text/css">
    <link href="~/js/plugins/revolution/css/layers.css" rel="stylesheet" type="text/css">
    <link href="~/js/plugins/revolution/css/navigation.css" rel="stylesheet" type="text/css">
    <link href="~/css/style.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
	@RenderBody()
    <!--js start-->
    <script src="~/js/jquery.js" type="text/javascript"></script>
    <script src="~/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/js/owl.carousel.js" type="text/javascript"></script>
    <script src="~/js/jquery.magnific-popup.js" type="text/javascript"></script>
	<!--Revolution slider js-->
    <script src="~/js/plugins/revolution/~/js/jquery.themepunch.revolution.min.js" type="text/javascript"></script>
    <script src="~/js/plugins/revolution/~/js/jquery.themepunch.tools.min.js" type="text/javascript"></script>
    <script src="~/js/plugins/revolution/~/js/revolution.extension.navigation.min.js" type="text/javascript"></script>
    <script src="~/js/plugins/revolution/~/js/revolution.extension.slideanims.min.js" type="text/javascript"></script>
    <script src="~/js/plugins/revolution/~/js/revolution.extension.layeranimation.min.js" type="text/javascript"></script>
    <script src="~/js/plugins/revolution/~/js/revolution.extension.parallax.min.js" type="text/javascript"></script>
	<!--date-picker js-->
	<script src="~/js/plugins/datepicker/jquery-ui.js"></script>
	<!--custom js-->
    <script src="~/js/custom.js" type="text/javascript"></script>

    <!--js end-->
</body>


<!-- Mirrored from templatebundle.net/templates/fastfood-html-template/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 29 Apr 2022 16:23:11 GMT -->
</html>