<!DOCTYPE html>
<html>


<!-- Mirrored from templatebundle.net/templates/fastfood-html-template/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 29 Apr 2022 16:22:52 GMT -->
<head>
    <meta charset="utf-8">
    <title> Fast Food - Responsive Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viefsort">
    <meta name="description" content="">
    <meta name="keywords" content="asian food, bar, beer, cafe, chef, cooking, drink, events, fast food, food, menu, opentable, pizza, reservation, restaurant">
    <meta name="author" content="">
    <meta name="MobileOptimized" content="320">
       <!-- favicon links-->
    <link rel="icon" type="image/icon" href="favicon.png" />
    <!--start main style -->
    <link href="~/css/main.css" rel="stylesheet" type="text/css">
       <link href="~/css/fonts.css" rel="stylesheet" type="text/css">
    <link href="~/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="~/css/magnific-popup.css" rel="stylesheet" type="text/css">
       <link href="~/js/plugins/datepicker/jquery-ui.css" rel="stylesheet" type="text/css">
    <link href="~/js/plugins/revolution/css/settings.css" rel="stylesheet" type="text/css">
    <link href="~/js/plugins/revolution/css/layers.css" rel="stylesheet" type="text/css">
    <link href="~/js/plugins/revolution/css/navigation.css" rel="stylesheet" type="text/css">
    <link href="~/css/style.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
    <partial name="PartialView/_PartialViewNav" />
       @RenderBody()
    <!--section9-start footer-->
        <section class="fs_footer_wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="footer_about">
                            <img src="~/images/footer_logo.png" alt="fast-food-footer-logo" width="152" height="40" class="ed_image" />
                            <p>There are many variations of passages <br />of Lorem Ipsum available, but the majority<br> have suffered alteration in some form, by injected humour.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="footer_box ed_box">
                            <h1 class="footer_heading ed_heading">Our Menu</h1>
                            <ul class="footer_menus ed_element_sorting">
                                <li> <a href="#">pizza</a> </li>
                                <li><span>|</span></li>
                                <li> <a href="#">French Fries </a> </li>
                                <li><span>|</span></li>
                                <li> <a href="#">Burger</a> </li>
                                <li><span>|</span></li>
                                <li> <a href="#">Drinks</a> </li>
                                <li><span>|</span></li>
                                <li> <a href="#">pizza</a> </li>
                                <li><span>|</span></li>
                                <li> <a href="#">Burger</a> </li>
                                <li><span>|</span></li>
                                <li> <a href="#">Drinks</a> </li>
                                <li><span>|</span></li>
                                <li> <a href="#">pizza</a> </li>
                                <li><span>|</span></li>
                                <li> <a href="#">pizza</a> </li>
                                <li><span>|</span></li>
                                <li> <a href="#">Burger</a> </li>
                                <li><span>|</span></li>
                                <li> <a href="#">Drinks</a> </li>
                                <li><span>|</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="footer_box ed_box">
                            <h1 class="footer_heading">Contact Information</h1>
                            <ul class="footer_con_info">
                                <li><span class="ed_head">Email:</span><a href="#"><span class="con_text">support@templatebundle.net</span></a></li>
                                <li><span class="ed_head">Address:</span><span class="con_text ed_paragraph">3-N331 Lakewood Dr, West Chicago,CT 06074</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="fs_copyright">
                            <p class="ed_paragraph">Copyright &copy; 2018 templatebundle.net. All Rights Reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    <!-- Modal Login -->
    <div id="myModalLogin" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content order_form">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Login</h4>
                </div>
                <div class="modal-body">
                    <form method="post" action="/Home/Login">
                        <div class="col-lg-6 col-md-6">
                            <div class="form-field">
                                <i class="fa fa-envelope-o"></i>
                                <input class="form-control" type="text" id="email" placeholder="Email" name="Email">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="form-field">
                                <i class="fa fa-envelope-o"></i>
                                <input class="form-control" type="password" id="password" placeholder="Mật khẩu" name="Password">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="fs_modal_submit-button">
                                <button id="btnLogin" type="submit" class="fs_btn" href="#">Đăng Nhập</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>

        </div>
    </div>
      <!--js start-->
    <script src="~/js/jquery.js" type="text/javascript"></script>
    <script src="~/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/js/owl.carousel.js" type="text/javascript"></script>
    <script src="~/js/jquery.magnific-popup.js" type="text/javascript"></script>
       <!--Revolution slider js-->
    <script src="~/js/plugins/revolution/js/jquery.themepunch.revolution.min.js" type="text/javascript"></script>
    <script src="~/js/plugins/revolution/js/jquery.themepunch.tools.min.js" type="text/javascript"></script>
    <script src="~/js/plugins/revolution/js/revolution.extension.navigation.min.js" type="text/javascript"></script>
    <script src="~/js/plugins/revolution/js/revolution.extension.slideanims.min.js" type="text/javascript"></script>
    <script src="~/js/plugins/revolution/js/revolution.extension.layeranimation.min.js" type="text/javascript"></script>
    <script src="~/js/plugins/revolution/js/revolution.extension.parallax.min.js" type="text/javascript"></script>
       <!--date-picker js-->
       <script src="~/js/plugins/datepicker/jquery-ui.js"></script>
       <!--custom js-->
    <script src="~/js/custom.js" type="text/javascript"></script>

    <!--js end-->
</body>


<!-- Mirrored from templatebundle.net/templates/fastfood-html-template/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 29 Apr 2022 16:23:11 GMT -->
</html>