<section class="fs_dishmenu_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <h1 class="fs_heading">our menu</h1>
                </div>
            </div>
            <div class="row" style="margin-top:20px;">
                <div class="col-lg-12 col-md-12">
                    <div class="fs_menu_slider">
                        <div class="owl-carousel owl-theme menu_slider" id="fs_feedback_slider">
                        @foreach(var item in Model)
                        {
                             <div class="item">
                                <div class="fs_menu_box">
                                    <div class="fs_menu_img">
                                        <img src="~/images/menu3.jpg" alt="@item.Slug"/>
                                        <div class="fs_menu_price">
                                            <span class="dish_rs">@string.Format("{0:0,0}", item.Price) VND</span>
                                            <a href="#" data-toggle="modal" data-target="#myModal">order <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
									<h2><a href="#">@item.Name</a></h2>
                                </div>
                            </div>
                        }
                       
                        </div>
                    </div>
                </div>
            </div>
        </div>
      
    </section>