@using System.Security.Claims
<section class="fs_menu_wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="fs_logo">
                    <a href="index-2.html">
                        <img src="~/images/logo.png" alt="fast-food-logo" class="ed_image img-responsive" />
                    </a>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8">
                <nav class="navbar">
                    <div class=" fs_menu_wrapper" style="padding-right:0px;">
                        <div class="menu-expander">
                            <i class="fa fa-bars" aria-hidden="true"></i>
                        </div>
                        <div class="fs_menu">
                            <ul>
                                <li><a href="/" class="ed_link">home</a></li>

                                <li><a asp-action="Menu" asp-controller="Home" class="ed_link">Menu</a></li>
                                <li><a href="Blog" class="ed_link">Blog</a></li>


                                @if (User.Identity.IsAuthenticated)
                                {
                                    <li>
                                        <a href="#" class="ed_link">@User.Identity.Name</a>

                                    </li>
                                    <li>
                                        <a asp-controller="Home" asp-action="Logout">
                                            <span class="unfold-item-icon mr-3"><i class="gd-power-off"></i></span>
                                            Sign Out
                                        </a>

                                    </li>
                                    <li>
                                        <a asp-action="DetailCart" asp-controller="Order" class="ed_link"><i class="fa-solid fa-cart-arrow-down"></i> Carts <span>(1)</span></a>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <a href="#" class="ed_link" data-toggle="modal" data-target="#myModalLogin">Đăng Nhập</a>

                                    </li>
                                    <li>
                                        <a asp-action="Register" asp-controller="Home" >Đăng Kí</a>
                                    </li>
                                }

                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</section>