@model List<FastFood.Models.Food>
<!-- Preloader-->
<div class="loader_wrapper">
    <div class="loader">
        <div class="loader-inner square-spin">
            <div></div>
        </div>
    </div>
</div>
<!--section1-start-->
<section class="fs_menu_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="fs_logo">
                    <a href="index-2.html">
                        <img src="~/images/logo.png" alt="fast-food-logo" class="ed_image img-responsive" />
                    </a>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8">
                <nav class="navbar">
                    <div class=" fs_menu_wrapper" style="padding-right:0px;">
                        <div class="menu-expander">
                            <i class="fa fa-bars" aria-hidden="true"></i>
                        </div>
                        <div class="fs_menu">
                            <ul>
                                <li><a href="/" class="ed_link">home</a></li>
                               
                                <li><a href="Food" class="ed_link">menu</a></li>
                                <li><a href="Blog" class="ed_link">Blog</a></li>
                                <li>
                                    <a href="#" class="ed_link" data-toggle="modal" data-target="#myModalLogin">Đăng Nhập</a>
                                   
                                 </li>
                                 <li>
                                      <a href="#" class="ed_link" data-toggle="modal" data-target="#myModalRegister">Đăng Kí</a>
                                 </li>
                                 <li>
                                      <a href="Carts" class="ed_link" ><i class="fa-solid fa-cart-arrow-down"></i> Carts <span>(1)</span></a>
                                 </li>
                                
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</section>
<!--section2-start-->
<section class="fs_banner_wrapper">
    <div class="container-fluid">
        <div class="row">
            <div id="rev_slider_1078_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="classic4export" data-source="gallery" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
                <!-- START REVOLUTION SLIDER 5.3.0.2 fullwidth mode -->
                <div id="rev_slider_1078_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.3.0.2">
                    <ul>
                        <!-- SLIDE  -->
                        <li data-index="rs-3045" data-transition="zoomout" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000" data-thumb="~/js/plugins/revolution/assets/fs_slide1_caption.jpg" data-rotate="0" data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off" data-title="Fast Food" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                            <!-- MAIN IMAGE -->
                            <img src="~/js/plugins/revolution/assets/fs_slide1.jpg" alt="fast-food-slide1" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                            <!-- LAYERS -->
                            <div class="tp-caption tp-shape tp-shapewrapper " id="slide-2800-layer-7" data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="full" data-height="full" data-whitespace="nowrap" data-type="shape" data-basealign="slide" data-responsive_offset="off" data-responsive="off" data-frames='[{"from":"opacity:0;","speed":500,"to":"o:1;","delay":0,"ease":"Power4.easeOut"},{"speed":5000,"to":"opacity:0;","ease":"Power4.easeInOut"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 5;background-color:rgba(0, 0, 0, 0.60);border-color:rgba(0, 0, 0, 0);border-width:0px;"> </div>

                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption NotGeneric-Title   tp-resizeme" id="slide-3045-layer-1" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-fontsize="['70','70','50','40']" data-lineheight="['70','70','50','30']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"from":"x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1000,"split":"chars","splitdelay":0.05,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]' data-textAlign="['center','left','left','left']" data-paddingtop="[10,10,10,10]" data-paddingright="[0,0,0,0]" data-paddingbottom="[10,10,20,10]" data-paddingleft="[0,0,0,0]" style="z-index: 5; white-space: nowrap;text-transform:uppercase;font-family: 'Rancho', cursive;letter-spacing:3px;">welcome to the fast food</div>

                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption NotGeneric-SubTitle   tp-resizeme" id="slide-3045-layer-4" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['52','52','52','51']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]' data-textAlign="['center','center','center','center']" data-paddingtop="[40,40,40,40]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 6; white-space: nowrap;text-transform:left;letter-spacing:1px;font-size:15px;font-family: 'Open Sans', sans-serif;line-height: 24px;">It is a long established fact that a reader will be distracted by the <br /> readable content of a page when looking at its layout.</div>

                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption NotGeneric-Icon   tp-resizeme" id="slide-3045-layer-8" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-150','-150','-150','-150']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":3000,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 7; white-space: nowrap;text-transform:uppercase;cursor:default;font-weight:bold;color:#d01d18;letter-spacing:1px;">
                                <img src="~/images/burgar.png" alt="fast-food-burgar">
                            </div>
                            <!-- LAYER NR. 4 -->
                            <div class="tp-caption NotGeneric-SubTitle   tp-resizeme" id="slide-3045-layer-5" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['150','150','150','150']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2500,"to":"o:1;","delay":2000,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]' data-textAlign="['center','left','left','left']" data-paddingtop="[10,0,0,0]" data-paddingright="[33,0,0,0]" data-paddingbottom="[10,0,0,0]" data-paddingleft="[33,0,0,0]" style="z-index: 6; white-space: nowrap;text-transform:capitalize;letter-spacing:1px;">
                                <a href="#" class="fs_btn">read more</a>
                            </div>
                        </li>
                        <!-- SLIDE  -->
                        <li data-index="rs-3046" data-transition="fadetotopfadefrombottom" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut" data-masterspeed="1500" data-thumb="~/js/plugins/revolution/assets/fs_slide2_caption.jpg" data-rotate="0" data-saveperformance="off" data-title="Fast Food" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                            <!-- MAIN IMAGE -->
                            <img src="~/js/plugins/revolution/assets/fs_slide2.jpg" alt="fast-food-slide2" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                            <!-- LAYERS -->
                            <div class="tp-caption tp-shape tp-shapewrapper " id="slide-2800-layer-9" data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="full" data-height="full" data-whitespace="nowrap" data-type="shape" data-basealign="slide" data-responsive_offset="off" data-responsive="off" data-frames='[{"from":"opacity:0;","speed":500,"to":"o:1;","delay":0,"ease":"Power4.easeOut"},{"speed":5000,"to":"opacity:0;","ease":"Power4.easeInOut"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 5;background-color:rgba(0, 0, 0, 0.60);border-color:rgba(0, 0, 0, 0);border-width:0px;"> </div>

                            <!-- LAYER NR. 4 -->
                            <div class="tp-caption NotGeneric-Title   tp-resizeme rs-parallaxlevel-3" id="slide-3046-layer-1" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-fontsize="['70','70','70','45']" data-lineheight="['70','70','70','50']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"from":"y:[100%];z:0;rZ:-35deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;","speed":2000,"to":"o:1;","delay":1000,"split":"chars","splitdelay":0.05,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;","ease":"Power2.easeInOut"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[10,10,10,10]" data-paddingright="[0,0,0,0]" data-paddingbottom="[10,10,10,10]" data-paddingleft="[0,0,0,0]" style="z-index: 8; white-space: nowrap;text-transform:uppercase;font-family: 'Rancho', cursive;letter-spacing:4px;">delicious food</div>

                            <!-- LAYER NR. 5 -->
                            <div class="tp-caption NotGeneric-SubTitle   tp-resizeme rs-parallaxlevel-2" id="slide-3046-layer-4" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['52','52','52','51']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;","ease":"Power2.easeInOut"}]' data-textAlign="['center','center','center','center']" data-paddingtop="[40,40,40,40]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 9; white-space: nowrap;text-transform:left;letter-spacing:1px;font-size:15px;font-family: 'Open Sans', sans-serif;line-height: 24px;">There are many variations of passages of Lorem Ipsum available, but <br>the majority have suffered alteration in some form</div>

                            <!-- LAYER NR. 6 -->
                            <div class="tp-caption NotGeneric-Icon   tp-resizeme rs-parallaxlevel-1" id="slide-3046-layer-8" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-70','-70','-70','-70']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":2000,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 10; white-space: nowrap;text-transform:left;cursor:default;letter-spacing:1px;font-weight:bold;color:#d01d18;font-family: 'Open Sans', sans-serif;">we serve you </div>

                            <!-- LAYER NR. 4 -->
                            <div class="tp-caption NotGeneric-SubTitle   tp-resizeme" id="slide-3045-layer-6" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['150','150','150','150']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2500,"to":"o:1;","delay":2000,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]' data-textAlign="['center','left','left','left']" data-paddingtop="[10,0,0,0]" data-paddingright="[33,0,0,0]" data-paddingbottom="[10,0,0,0]" data-paddingleft="[33,0,0,0]" style="z-index: 6; white-space: nowrap;text-transform:capitalize;letter-spacing:1px;">
                                <a href="#" class="fs_btn">read more</a>
                            </div>

                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</section>
<!--section3-start-->
<section class="fs_about_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="fs_about_data">
                    <h1 class="fs_heading">About us</h1>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    <a href="about.html" class="fs_btn">learn more</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="fs_about_img">
                    <img src="~/images/about_img.png" alt="fast-food-about1" class="img-responsive" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="fs_choose_wrapper">
                <div class="col-lg-6 col-md-6">
                    <div class="fs_about_img fs_about_img1"><img src="~/images/choose_img.jpg" alt="fast-food-about2" class="img-responsive" /></div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="fs_choose_data">
                        <h1 class="fs_heading">Why You Choose us</h1>
                        <div class="fs_choose_order">
                            <div class="col-lg-2 col-md-2 padding-left ed_element_wrapper">
                                <img src="~/images/choose1.png" alt="fast-food-about3" class="ed_image" />
                            </div>
                            <div class="col-lg-10 col-md-10">
                                <div class="fs_choose_data">
                                    <h2>Order Online</h2>
                                    <p>Lorem Ipsum is simply dummy text of the printing and industry. Lorem Ipsum has been the industry's</p>
                                </div>
                            </div>
                        </div>
                        <div class="fs_choose_order">
                            <div class="col-lg-2 col-md-2 padding-left">
                                <img src="~/images/choose2.png" alt="fast-food-about4" class="ed_image" />
                            </div>
                            <div class="col-lg-10 col-md-10">
                                <div class="fs_choose_data">
                                    <h2>Delicious Taste</h2>
                                    <p>Lorem Ipsum is simply dummy text of the printing and industry. Lorem Ipsum has been the industry's</p>
                                </div>
                            </div>
                        </div>
                        <div class="fs_choose_order">
                            <div class="col-lg-2 col-md-2 padding-left">
                                <img src="~/images/choose3.png" alt="fast-food-about5" class="ed_image" />
                            </div>
                            <div class="col-lg-10 col-md-10">
                                <div class="fs_choose_data">
                                    <h2>Fast & Free Delivery</h2>
                                    <p>Lorem Ipsum is simply dummy text of the printing and industry. Lorem Ipsum has been the industry's</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--section4-start-->
<section class="fs_best_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-md-10 col-lg-offset-1 col-md-offset-1">
                <h1>We Have The Best Taste In Our Town</h1>
                <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>
                <a href="#" class="fs_btn ed_button">learn more</a>
            </div>
        </div>
    </div>
</section>
<!--section5-start-->
<!--Our menu -->
<partial name="PartialView/_PartialViewOurMenu" model="@Model" />
<!-- End Our menu -->
<!--section6-start-->
<section class="fs_team_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h1 class="fs_heading">our team</h1>
            </div>
        </div>
        <div class="row" style="margin-top:20px;">
            <div class="col-lg-3 col-md-3">
                <div class="fs_team_box">
                    <div class="fs_team_img">
                        <img src="~/images/team1.png" alt="fast-food-team1" class="img-responsive" />
                    </div>
                    <h3> Peter Nevill</h3>
                    <p>Chef</p>
                    <div class="dc_cat_overlay "></div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="fs_team_box">
                    <div class="fs_team_img">
                        <img src="~/images/team2.png" alt="fast-food-team2" class="img-responsive" />
                    </div>
                    <h3> Alex Jones</h3>
                    <p>Chef</p>
                    <div class="dc_cat_overlay "></div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="fs_team_box">
                    <div class="fs_team_img">
                        <img src="~/images/team3.png" alt="fast-food-team3" class="img-responsive" />
                    </div>
                    <h3> Nancy Martin</h3>
                    <p>Chef</p>
                    <div class="dc_cat_overlay "></div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="fs_team_box">
                    <div class="fs_team_img">
                        <img src="~/images/team4.png" alt="fast-food-team4" class="img-responsive" />
                    </div>
                    <h3> Kavin Smith</h3>
                    <p>Chef</p>
                    <div class="dc_cat_overlay "></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--section7-start-->
<section class="fs_blog_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h1 class="fs_heading">recent update</h1>
            </div>
        </div>
        <div class="row">
            <div class="fs_blog_inner">
                <div class="col-lg-4 col-md-4">
                    <div class="fs_blog_box">
                        <div class="fs_blog_img">
                            <img src="~/images/blog1.jpg" alt="fast-food-blog1" class="img-responsive" />
                            <div class="news-date">
                                <div class="date_border">
                                    <div class="date">28 </div>
                                    <div class="month">March</div>
                                    <div class="year">2017</div>
                                </div>
                            </div>
                        </div>
                        <div class="fs_blog_data">
                            <h3><a href="#">Best Food Providers In Your Town</a></h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Text of the printing there</p>
                            <a href="blog-single.html" class="fs_link">read more</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="fs_blog_box">
                        <div class="fs_blog_img">
                            <img src="~/images/blog2.jpg" alt="fast-food-blog2" class="img-responsive" />
                            <div class="news-date">
                                <div class="date_border">
                                    <div class="date">26 </div>
                                    <div class="month">March</div>
                                    <div class="year">2017</div>
                                </div>
                            </div>
                        </div>
                        <div class="fs_blog_data">
                            <h3><a href="#">Vegetable is good for your health</a></h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Text of the printing there</p>
                            <a href="blog-single.html" class="fs_link">read more</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="fs_blog_box">
                        <div class="fs_blog_img">
                            <img src="~/images/blog3.jpg" alt="fast-food-blog3" class="img-responsive" />
                            <div class="news-date">
                                <div class="date_border">
                                    <div class="date">30 </div>
                                    <div class="month">March</div>
                                    <div class="year">2017</div>
                                </div>
                            </div>
                        </div>
                        <div class="fs_blog_data">
                            <h3><a href="#">Best Dosa Providers In Your Town</a></h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Text of the printing there</p>
                            <a href="blog-single.html" class="fs_link">read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--section8-start-->
<section class="fs_gallery_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h1 class="fs_heading">food gallery</h1>
            </div>
        </div>
        <div class="row">
            <div class="fs_gallery_inner popup-gallery">
                <div class="col-lg-4 col-md-4">
                    <div class="fs_gallery_box">
                        <img src="~/images/gallery1.jpg" alt="fast-food-gallery1" class="img-responsive">
                        <div class="fs_gallery_overlay">
                            <div class="fs_gallery_text">
                                <a class="gallery popup-with-zoom-anim fade-zoom animation" href="~/images/gallery1.jpg"><i class="fa fa-plus" aria-hidden="true"></i></a>
                                <h3>dish name</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="fs_gallery_box">
                        <img src="~/images/gallery2.jpg" alt="fast-food-gallery2" class="img-responsive">
                        <div class="fs_gallery_overlay">
                            <div class="fs_gallery_text">
                                <a class="gallery" href="~/images/gallery2.jpg"><i class="fa fa-plus" aria-hidden="true"></i></a>
                                <h3>dish name</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="fs_gallery_box">
                        <img src="~/images/gallery3.jpg" alt="fast-food-gallery3" class="img-responsive">
                        <div class="fs_gallery_overlay">
                            <div class="fs_gallery_text">
                                <a class="gallery" href="~/images/gallery3.jpg"><i class="fa fa-plus" aria-hidden="true"></i></a>
                                <h3>dish name</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="fs_gallery_box">
                        <img src="~/images/gallery4.jpg" alt="fast-food-gallery4" class="img-responsive">
                        <div class="fs_gallery_overlay">
                            <div class="fs_gallery_text">
                                <a class="gallery" href="~/images/gallery4.jpg"><i class="fa fa-plus" aria-hidden="true"></i></a>
                                <h3>dish name</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="fs_gallery_box">
                        <img src="~/images/gallery5.jpg" alt="fast-food-gallery5" class="img-responsive">
                        <div class="fs_gallery_overlay">
                            <div class="fs_gallery_text">
                                <a class="gallery" href="~/images/gallery5.jpg"><i class="fa fa-plus" aria-hidden="true"></i></a>
                                <h3>dish name</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="fs_gallery_box">
                        <img src="~/images/gallery6.jpg" alt="fast-food-gallery6" class="img-responsive">
                        <div class="fs_gallery_overlay">
                            <div class="fs_gallery_text">
                                <a class="gallery" href="~/images/gallery6.jpg"><i class="fa fa-plus" aria-hidden="true"></i></a>
                                <h3>dish name</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--section7-start-->
<section class="fs_form_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="fs_appoint_form">
                    <form class="ed_form form-inline" role="form">
                        <div class="form_input_app_div pc_form_2">
                            <div class="form-group pc_input_section">
                                <input type="text" class="form-control" placeholder="Enter Your Name " id="name" name="name">
                            </div>
                            <div class="form-group pc_input_section">
                                <input type="text" class="form-control" placeholder="Enter Your Email " id="email" name="email">
                            </div>
                        </div>
                        <div class="">
                            <button type="submit" class="fs_btn ed_submit">order now</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--section8-start-->
<section class="fs_map_wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="map">
                <div id="hs_map" class="ed_map" data-address="address">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d48630.85490218961!2d-111.83104849352239!3d40.377196268505074!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x874d811acafcafed%3A0x85dd549fe5e139d4!2sAmerican+Fork%2C+UT+84003%2C+USA!5e0!3m2!1sen!2sin!4v1492068120481" style="border:0"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
<!--section9-start-->
<section class="fs_footer_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="footer_about">
                    <img src="~/images/footer_logo.png" alt="fast-food-footer-logo" width="152" height="40" class="ed_image" />
                    <p>There are many variations of passages <br />of Lorem Ipsum available, but the majority<br> have suffered alteration in some form, by injected humour.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="footer_box ed_box">
                    <h1 class="footer_heading ed_heading">Our Menu</h1>
                    <ul class="footer_menus ed_element_sorting">
                        <li> <a href="#">pizza</a> </li>
                        <li><span>|</span></li>
                        <li> <a href="#">French Fries </a> </li>
                        <li><span>|</span></li>
                        <li> <a href="#">Burger</a> </li>
                        <li><span>|</span></li>
                        <li> <a href="#">Drinks</a> </li>
                        <li><span>|</span></li>
                        <li> <a href="#">pizza</a> </li>
                        <li><span>|</span></li>
                        <li> <a href="#">Burger</a> </li>
                        <li><span>|</span></li>
                        <li> <a href="#">Drinks</a> </li>
                        <li><span>|</span></li>
                        <li> <a href="#">pizza</a> </li>
                        <li><span>|</span></li>
                        <li> <a href="#">pizza</a> </li>
                        <li><span>|</span></li>
                        <li> <a href="#">Burger</a> </li>
                        <li><span>|</span></li>
                        <li> <a href="#">Drinks</a> </li>
                        <li><span>|</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="footer_box ed_box">
                    <h1 class="footer_heading">Contact Information</h1>
                    <ul class="footer_con_info">
                        <li><span class="ed_head">Email:</span><a href="#"><span class="con_text">support@templatebundle.net</span></a></li>
                        <li><span class="ed_head">Address:</span><span class="con_text ed_paragraph">3-N331 Lakewood Dr, West Chicago,CT 06074</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="fs_copyright">
                    <p class="ed_paragraph">Copyright &copy; 2018 templatebundle.net. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Modal Register -->
<div id="myModalRegister" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content order_form">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Register</h4>
            </div>
            <div class="modal-body">
                <form class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="form-field">
                            <i class="fa fa-pencil"></i>
                            <input class="form-control" type="text" placeholder="Tên Đầu" name="FirstName">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="form-field">
                            <i class="fa fa-pencil"></i>
                            <input class="form-control" type="text" placeholder="Tến Cuối" name="LastName">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="form-field">
                            <i class="fa fa-phone"></i>
                            <input class="form-control" type="text" placeholder="Số điện thoại" name="Phone">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="form-field">
                            <i class="fa fa-envelope-o"></i>
                            <input class="form-control" type="text" placeholder="Email" name="Email">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="form-field">
                            <i class="fa fa-envelope-o"></i>
                            <input class="form-control" type="password" placeholder="Mật khẩu" name="Password">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="form-field">
                            <i class="fa fa-envelope-o"></i>
                            <input class="form-control" type="password" placeholder="Nhập lại mật khẩu" name="Repassword">
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="fs_modal_submit-button">
                            <a class="fs_btn" href="#">Đăng Kí</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
<!-- Modal Login -->
<div id="myModalLogin" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content order_form">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Login</h4>
            </div>
            <div class="modal-body">
                <form class="row">
                    
                    <div class="col-lg-6 col-md-6">
                        <div class="form-field">
                            <i class="fa fa-envelope-o"></i>
                            <input class="form-control" type="text" placeholder="Email" name="Email">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="form-field">
                            <i class="fa fa-envelope-o"></i>
                            <input class="form-control" type="password" placeholder="Mật khẩu" name="Password">
                        </div>
                    </div>
                 
                    <div class="col-lg-12">
                        <div class="fs_modal_submit-button">
                            <a class="fs_btn" href="#">Đăng Nhập</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>