
body {
	font-family: 'Open Sans', sans-serif;
	color: #505050;
    -webkit-font-smoothing: antialiased;
}
/*-----Normal css start-----*/


.padding-left {
    padding-left: 0px;
}
.padding-right {
    padding-right: 0px;
}
.padding_top40 {
    padding-top: 40px;
}
a:focus {
    outline: none;
    outline-offset: 0;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

/*-----Form css start-----*/

.form_input_app_div.pc_form_4 .pc_input_section {
    width: 25%;
}
.form_input_app_div.pc_form_3 .pc_input_section {
    width: 33.33%;
	float: left;
}
.form_input_app_div.pc_form_2 .pc_input_section {
    width: 50%;
	float: left;
}
.form_input_app_div.pc_form_1 .pc_input_section {
    width: 100%;
}
.form_input_app_div.pc_form_4 .pc_input_section .form-control,
.form_input_app_div.pc_form_3 .pc_input_section .form-control,
.form_input_app_div.pc_form_2 .pc_input_section .form-control {
    width: 95%;
    padding: 10px 30px;
    margin-bottom: 0px;
}
.form_input_app_div.pc_form_1 .pc_input_section .form-control {
    width: 100%;
    padding: 10px 19px;
}
.clts_btn:focus {
    color: #ffffff;
}
/*--Preloader css Start--*/
.loader_wrapper {
    width: 100%;
    float: left;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    content: "";
    z-index: 10;
}

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
.square-spin > div {
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  width: 50px;
  height: 50px;
  background-color: #d01d18;
  -webkit-animation: square-spin 3s 0s cubic-bezier(0.09, 0.57, 0.49, 0.9) infinite;
   animation: square-spin 3s 0s cubic-bezier(0.09, 0.57, 0.49, 0.9) infinite; 
   }
   
@-webkit-keyframes square-spin {
  25% {
    -webkit-transform: perspective(100px) rotateX(180deg) rotateY(0);
            transform: perspective(100px) rotateX(180deg) rotateY(0); }
  50% {
    -webkit-transform: perspective(100px) rotateX(180deg) rotateY(180deg);
            transform: perspective(100px) rotateX(180deg) rotateY(180deg); }
  75% {
    -webkit-transform: perspective(100px) rotateX(0) rotateY(180deg);
            transform: perspective(100px) rotateX(0) rotateY(180deg); }
  100% {
    -webkit-transform: perspective(100px) rotateX(0) rotateY(0);
            transform: perspective(100px) rotateX(0) rotateY(0); } }

@keyframes square-spin {
  25% {
    -webkit-transform: perspective(100px) rotateX(180deg) rotateY(0);
            transform: perspective(100px) rotateX(180deg) rotateY(0); }
  50% {
    -webkit-transform: perspective(100px) rotateX(180deg) rotateY(180deg);
            transform: perspective(100px) rotateX(180deg) rotateY(180deg); }
  75% {
    -webkit-transform: perspective(100px) rotateX(0) rotateY(180deg);
            transform: perspective(100px) rotateX(0) rotateY(180deg); }
  100% {
    -webkit-transform: perspective(100px) rotateX(0) rotateY(0);
            transform: perspective(100px) rotateX(0) rotateY(0); } }
/**----Menu wrapper css start-----**/
.fs_menu_wrapper {
    width: 100%;
    float: left;
    /* padding: 31px 0px; */
    background-color: #d01d18;
	font-family: 'Open Sans', sans-serif;

}
.dropdown-expander {
    display: none;
}
.menu-expander {
    display: none;
}
.fs_logo{
    padding: 29px 0px;
}
.fs_menu_wrapper .navbar {
    min-height: auto;
    margin-bottom: 0px;
}
.fs_menu {
    width: 100%;
    float: left;
}

.fs_menu ul {
    padding: 0px;
    margin: 0px;
    width: auto;
    float: right;
}

.fs_menu ul > li {
    display: inline-block;
    list-style: none;
	position:relative;
}
.fs_menu ul > li:last-child a{
	border:1px solid #ffffff;
}
.fs_menu ul > li:last-child a:before{
	display:none;
	
}
.fs_menu ul > li > a {
    color: #ffffff;
    padding: 36px 25px;
    text-transform: capitalize;
    font-size: 18px;
	display:block;
    text-decoration: none;
	position:relative;
    font-family: 'Open Sans', sans-serif;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
}
.fs_menu ul > li > a:before {
    content: "";
    position: absolute;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #ffffff;
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.fs_menu ul > li > a:hover:before{
    right: 0;
}
.fs_menu ul > li:last-child a {
    border: 2px solid #ffffff;
    padding: 9px 19px;
    border-radius: 6px;
	margin-left: 20px;
}
/*--second level--*/
.fs_menu ul > li ul.sub-menu {
    position: absolute;
    width: 200px;
    background-color: #ffffff;
    left: 0px;
    top: 150%;
	z-index: 1;
    display: block;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    visibility: hidden;	
}
.fs_menu ul > li:hover > ul.sub-menu  {
    top: 100%;
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    visibility: visible;
}
.fs_menu ul > li ul.sub-menu li {
    width: 100%;
    float: left;
}

.fs_menu ul > li ul.sub-menu li a {
    margin-left: 0px;
    border: none;
    color: #202020;
    padding: 10px 20px;
    font-size: 16px;
    border-bottom: 1px solid;
    border-radius: 0px;
	transition:all 0.25s ease-in-out;
	-webkit-transition:all 0.25s ease-in-out;
	-moz-transition:all 0.25s ease-in-out;
	-o-transition:all 0.25s ease-in-out;
	-ms-transition:all 0.25s ease-in-out;
}
.fs_menu ul > li ul.sub-menu li:hover a{
	background-color:#d01d18;
	color:#ffffff;
}
.fs_menu ul > li ul.sub-menu li a:before{
	content:"";
	display:none;
} 
.fs_menu ul > li ul.sub-menu li:last-child a{
	border-bottom:none;
}
/**----banner css start----**/
.fs_banner_wrapper{
    width: 100%;
    float: left;
    text-align: center;
	font-family: 'Open Sans', sans-serif;
}
.fs_banner_wrapper h1{
    color: #ffffff;
    margin: 0px;
    font-size: 100px;
    width: 460px;
    margin-right: 60px;
    float: right;
    text-transform: capitalize;
    font-family: 'Rancho', cursive;
    color: #ffffff;
    text-shadow: #ffffff 0px 1px 0px, rgba(0,0,0,0.5) 3px 7px 0px;
}
/* .fs_banner_wrapper .fs_btn{ */
	/* color:#ffffff; */
	/* border-color:#ffffff; */
/* } */
.fs_btn {
    font-size: 16px;
    color: #d01d18;
    text-transform: capitalize;
    padding: 10px 33px;
    border-radius: 4px;
    display: inline-block;
    height: 50px;
	z-index:1;
	position: relative;
    line-height: 24px;
    text-align: center;
    font-weight: 600;
	background-color: transparent;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    border: 2px solid #d01d18;
    text-decoration: none;
}
.fs_btn:before{
	width: 0%;
    height: 102%;
    top: -1px;
    left: -1px;
	content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    background-color: #d01d18;
}
.fs_btn:hover:before{
	width:101%;
}
.fs_btn:hover{
	color:#ffffff;
	text-decoration:none;
	outline:none;
}
.fs_btn:focus{
	color: #000;
	text-decoration:none;
}
/**----about css start----**/
.fs_about_wrapper{
	width:100%;
	float:left;
	padding:100px 0px;
	font-family: 'Open Sans', sans-serif;
}
.fs_about_data h1.fs_heading {
    text-align: left;
}

h1.fs_heading{
    font-size: 45px;
    color: #d01d18;
    margin: 0px;
	text-align: center;
    padding-bottom: 15px;
    letter-spacing: 1px;
	text-transform:capitalize;
    font-family: 'Rancho', cursive;
}
.fs_about_data p{
    font-size: 16px;
    color: #505050;
    font-family: 'Open Sans', sans-serif;
    line-height: 25px;
    margin-bottom: 30px;
	
}
.fs_about_img{
    text-align: center;
	overflow:hidden;
	    margin-top: 10px;
}
.fs_about_img img {
    display: inline-block;
	transition: all 1s ease;
	  -moz-transition: all 1s ease;
	  -ms-transition: all 1s ease;
	  -webkit-transition: all 1s ease;
	  -o-transition: all 1s ease;
}
.fs_about_img.fs_about_img1 img:hover{
	transform: scale(1.5);
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -o-transform: scale(1.5);
  -ms-transform: scale(1.5);
}
.fs_choose_data h1.fs_heading {
    text-align: left;
}
.fs_choose_wrapper {
    width: 100%;
    float: left;
    margin-top: 90px;
}
.fs_about_img  img{

}
.fs_heading{
	width:100%;
	float:left;
}
.fs_choose_data h2{
	font-size:28px;
	color:#3a3a3a;
	padding-bottom: 10px;
	font-family: 'Rancho', cursive;
}
.fs_choose_data p{
	font-size:16px;
	color:#505050;
	line-height:25px;
	font-family: 'Open Sans', sans-serif;
}
.fs_choose_order {
    width: 100%;
    float: left;
    padding-top:30px;
}

.fs_choose_order img {
    margin-top: 10px;
}
/*----best wrapper start----*/
.fs_best_wrapper{
	width:100%;
	float:left;
	padding:100px 0px;
	background-image:url(../images/best_wrapper.jpg);
	background-size:cover;
	text-align:center;
	font-family: 'Open Sans', sans-serif;
}

.fs_best_wrapper h1{
    font-size: 60px;
    color: #ffffff;
    text-transform: capitalize;
    padding-bottom: 15px;
	font-family: 'Rancho', cursive;
}
.fs_best_wrapper p{
    font-size: 16px;
    color: #ffffff;
    line-height: 25px;
    margin-bottom: 40px;
}
.fs_best_wrapper .fs_btn{
	color:#ffffff;
	border:2px solid #ffffff;
}

/*----menu wrapper start----*/
.fs_dishmenu_wrapper{
	width:100%;
	float:left;
	text-transform:capitalize;
	padding:90px 0px 100px;
	text-align:center;
	    font-family: 'Open Sans', sans-serif;
}
.fs_menu_box h2 a{
	width: 100%;
    float: left;
    font-size: 28px;
    color: #3a3a3a;
    font-family: 'Rancho', cursive;
    padding: 30px 15px;
    margin: 0px;
	text-decoration:none;
    text-align: center;
    /* background: #d01d18; */
    border-radius: 0px 0px 4px 4px;
    /* min-height: 120px; */
}
.fs_menu_box h2 a:hover{
	color:#d01d18;
}
.fs_menu_slider .fs_menu_box.ed_box {
    padding-bottom: 0px;
}
.fs_menu_slider .fs_menu_box h2 a{
	padding-bottom:0px;
}
.fs_menu_slider .owl-controls .owl-nav  .owl-prev {
    left: -80px !important;
    top: 50%;
    position: absolute;
    width: 42px;
    height: 42px;
    border: 1px solid #d01d18;
    color: #d01d18;
    font-size: 20px;
    right: auto;
    line-height: 40px;
    border-radius: 4px;
    z-index: 1;
	    display: inline-block;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
	transition:all 0.25s ease-in-out;
	-webkit-transition:all 0.25s ease-in-out;
	-moz-transition:all 0.25s ease-in-out;
	-o-transition:all 0.25s ease-in-out;
}
.fs_menu_slider .owl-controls .owl-nav  .owl-prev:hover, .fs_menu_slider .owl-controls .owl-nav .owl-next:hover{
	background-color:#d01d18;
	color:#ffffff;
}
.fs_menu_slider .owl-controls .owl-nav .owl-next {
    right: -80px !important;
    position: absolute;
    width: 42px;
    height: 42px;
    border: 1px solid #d01d18;
    color: #d01d18;
    font-size: 20px;
    line-height: 40px;
    border-radius: 4px;
    display: block;
    float: right;
    top: 50%;
    left: auto;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.fs_menu_img {
    position: relative;
    width: 100%;
    float: left;
	overflow:hidden;
}
.fs_menu_price {
    width: 100%;
    float: left;
    background-color: #d01d18;
    padding: 17px 20px;
    border-radius: 0px 0px 4px 4px;
    position: absolute;
    bottom: 0;
	opacity: 0;    
	transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);

}
.fs_menu_box:hover .fs_menu_price{
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}
span.dish_rs {
    float: left;
    color: #ffffff;
    font-size: 30px;
    font-family: 'Rancho', cursive;
}

.fs_menu_price a {
    float: right;
    color: #ffffff;
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
    line-height: 42px;
}
.fs_menu_price a i{
	margin-left:5px;
}
.modal-content.order_form .modal-header{
	width:100%;
	float:left;
	background-image:url(../images/modal_bg.jpg);
	background-size:cover;
}
button.close {
    background: transparent;
    color: #ffffff;
    opacity: 1;
    -webkit-appearance: none;
}
.close:hover, .close:focus {
    color: #fff;
    opacity: 1;
	outline:none;
}
.modal-content.order_form .modal-title {
    color: #ffffff;
    font-size: 35px;
	padding: 20px 0px;
	text-align: center;
	text-transform: capitalize;
    font-family: 'Rancho', cursive;
    letter-spacing: 1px;
}
.modal-content.order_form .form-control {
    display: block;
    width: 100%;
    height: 45px;
	padding-left:40px;
    font-size: 14px;
    color: #9d9d9d;
    background-color: transparent;
    background-image: none;
    border: 1px solid #d4d4d4;
    border-radius: 4;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}
.modal-content.order_form textarea.form-control{
    height: 75px;
    padding-top: 10px;
    resize: none;
}
.fs_modal_submit-button {
    float: left;
}
.modal-content.order_form {
    float: left;
	width: 100%;
}
.modal-content.order_form .form-field {
    position: relative;
    margin-bottom: 30px;
}
.modal-content.order_form .form-field i {
    position: absolute;
    left: 0;
    color: #e93e21;
    display: inline-block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    z-index: 99;
}
.modal-content.order_form .modal-body {
    float: left;
    position: relative;
    padding: 30px 20px;
    width: 100%;
}
.ui-datepicker {
    width: 240px;
    padding: .2em .2em 0;
    display: none;
}
.ui-datepicker .ui-datepicker-header {
    position: relative;
    padding: 10px 10px;
}
.ui-widget-header {
    border: 1px solid #dddddd;
    background: #d01d18;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
    top: 10px;
}
.ui-datepicker th {
    text-align: center;
    font-size: 14px;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    text-align: center;
    font-size: 12px;
}
.ui-datepicker td {
    padding: 2px;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    border: 1px solid #d01d18;
    background: #d01d18;
    color: #ffffff;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border: 1px solid #d01d18;
    background: #d01d18;
    color: #ffffff;
}
/*----team css start----*/
.fs_team_wrapper{
	width:100%;
	float:left;
	background-image:url(../images/team_wrapper.jpg);
	background-size:cover;
	padding:100px 0px;
	    font-family: 'Open Sans', sans-serif;
}
.fs_team_wrapper h1.fs_heading {
    color: #ffffff;
}
.fs_team_box {
    width: 100%;
    float: left;
    text-align: center;
    z-index: 1;
	    padding: 20px;
    position: relative;
	transition: 0.4s ease;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.fs_team_img{
	overflow:hidden;
}
.fs_team_img img{

}
.dc_cat_overlay {
    position: absolute;
    bottom: 0;
    padding: 20px;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: transparent;
    right: 0;
    overflow: hidden;
    transition: 0.4s ease;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    transform-origin: top left;
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    -ms-transform-origin: top left;
    -o-transform-origin: top left;
    transform: translateY(20px);
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
    z-index: -1;
}
.fs_team_box:hover .dc_cat_overlay {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    height: 100%;
    width: 100%;
	background-color:#d01d18;
}
.fs_team_box:hover{
	padding:20px;
}
.fs_team_box h3 {
    font-size: 28px;
    color: #ffffff;
    margin: 15px 0px;
    text-transform: capitalize;
	font-family: 'Rancho', cursive;
}

.fs_team_box p {
    font-size: 16px;
    color: #ffffff;
    text-transform: capitalize;
    margin: 0px;
}

.fs_team_box img {
    border-radius: 100%;
    border: 5px solid #ffffff;
    display: inline-block;
}
/*----blog css start----*/
.fs_blog_wrapper{
	width:100%;
	float:left;
	padding: 100px 0px 85px;
	font-family: 'Open Sans', sans-serif;
}
.fs_blog_inner{
    margin-top: 20px;
    width: 100%;
    float: left;
}
.fs_blog_box {
    width: 100%;
    float: left;
    padding: 15px 0px;
}
.fs_blog_content {
    width: 100%;
    float: left;
}
.fs_blog_data {
    width: 100%;
    float: left;
    padding: 30px 30px;
	text-align:center;
    background-color: #f7f7f7;
	
}
.post-comments .fs_btn:focus{
	color:#202020;
}
.fs_blog_box:hover .fs_blog_img img{
    transform: scale(1.5);
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
}
.fs_blog_img{
    width: 100%;
    float: left;
    overflow: hidden;
    position: relative;

}
.fs_blog_img img{
	transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -ms-transition: all 0.8s ease;
    -webkit-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
}
.news-date {
    background-color: #fff;
    position: absolute;
    bottom: -100%;
    left: 10px;
    text-align: center;
    line-height: 1;
    text-transform: uppercase;
    /* padding: 10px 13px; */
    transition: all 0.6s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    /* border: 1px solid #d01d18; */
    /* margin: 2px; */
}
.date_border{
	border: 1px solid #d01d18;
    padding: 10px 13px;
    float: left;
    display: inline-block;
    margin: 5px;
}
.fs_blog_box:hover .news-date{
	bottom:10px;
}
 /* animate in */
      .my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
        opacity: 1;

        -webkit-transform: scale(1); 
        -moz-transform: scale(1); 
        -ms-transform: scale(1); 
        -o-transform: scale(1); 
        transform: scale(1); 
      }

      /* animate out */
      .my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
        -webkit-transform: scale(0.8); 
        -moz-transform: scale(0.8); 
        -ms-transform: scale(0.8); 
        -o-transform: scale(0.8); 
        transform: scale(0.8); 

        opacity: 0;
      }

.news-date .date {
	font-size: 20px;
	color: #d01d18;
	font-weight: bold;
	font-family: 'Rancho', cursive;
}
.news-date .month {
	font-size: 12px;
	color: #505050;
	margin-top: 4px;
}
.news-date .year {
	font-size: 16px;
	color: #333333;
	font-weight: 600;
	margin-top: 5px;
}
.fs_blog_data h3 {
    width: 100%;
    float: left;
}
.fs_blog_data h3 a {
    width: 100%;
    float: left;
    font-size: 28px;
    color: #3a3a3a;
    font-family: 'Rancho', cursive;
    margin: 0px;
    padding-bottom: 15px;
    text-decoration: none;
    text-align: center;
	transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
}
.fs_blog_data h3 a:hover{
	color:#d01d18;
}
.fs_blog_data p {
    float: left;
    width: 100%;
    margin-bottom: 20px;
    font-size: 15px;
    color: #505050;
    font-family: 'Open Sans', sans-serif;
    line-height: 25px;
}
a.fs_link {
    width: 100%;
    float: left;
    font-size: 25px;
    color: #d01d18;
    margin: 0px;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'Rancho', cursive;
    transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
}
a.fs_link:hover{
	letter-spacing:1px;
}
/*----blog single css start----*/
.social_share {
    width: 100%;
    float: left;
    margin-top: 10px;
}
.social_share > span {
    color: #3a3a3a;
    font-size: 25px;
	float:left;
    margin-right: 20px;
	display: inline-block;
    font-family: 'Rancho', cursive;
}
.social_links > a {
    border: 1px solid #c6c6c6;
    color: #3a3a3a;
    line-height: 35px;
    margin-right: 5px;
    text-align: center;
    width: 35px;
	display: inline-block;
	position:relative;
	z-index:1;
}
.social_links > a:before{
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    background-color: #d01d18;

}
.social_links > a:hover:before {
    width: 100%;
}
.social_links > a:hover{
	color:#ffffff;
	border-color:#d01d18;
}
.post-comments {
    width: 100%;
    float: left;
    border-top: 1px solid #cccccc;
    margin-top: 40px;
}
.post-comments ul.comments-list {
    width: 100%;
    float: left;
}
.comments-list li .comment-inner {
  margin-bottom: 40px;
}
.comments-list li .author_img{
  width: 17%;
  margin-right: 25px;
  float: left;
}
.comments-list li .author_img img {
  max-width: 100%;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.comments-list li .author_img img:hover {
  opacity: 0.8;
}
.comments-list li .detail {
  overflow: hidden;
}
.comments-list li .detail h6 {
    margin-top: 0;
    font-size: 21px;
    margin-bottom: 15px;
    color: #3a3a3a;
    font-family: 'Rancho', cursive;
}
.separator-post {
    width: 100%;
    float: left;
    border-top: 1px solid #cccccc;
}
.comments-list li .detail .comment-date {
  margin-bottom: 15px;
  display: inline-block;
  color: #3a3a3a;
  text-transform: capitalize;
}
.comments-list li .detail .comment-date i {
  margin-right: 10px;
}
.comments-list li ul {
  margin-left: 17%;
}
.post-comments h3 {
    padding: 25px 0;
    font-size: 28px;
    text-transform: capitalize;
    margin-top: 30px;
    font-family: 'Rancho', cursive;
}
.comment-reply {
    width: 100%;
    float: left;
    text-transform: capitalize;
    color: #3a3a3a;
    font-family: 'Rancho', cursive;
    /* font-weight: 700; */
    font-size: 17px;
    text-decoration: none;
}
.comment-reply:hover {
  color:#d01d18;
  text-decoration:none;
}
.comment-reply i {
  transform: rotateY(180deg);
  margin-right: 5px;
}
.comments-form label {
    width: 100%;
    float: left;
    line-height: 42px;
    text-transform: uppercase;
    font-weight: normal;
    color: #6a6a6a;
    font-family: 'Rancho', cursive;
    text-shadow: none;
}
.comments-form input[type="submit"] {
  margin-left: 15%;
  background: #6ebe3b;
  color: #ffffff;
  border: none;
  font-style: italic;
  font-weight: 700;
  font-size: 16px;
  outline: none;
  padding-right: 24px;
  padding-left: 24px;
}

.comments-form input[type="text"],
.comments-form input[type="email"] {
  width: 100%;
}
.comments-form input[type="text"],
.comments-form input[type="email"],
.comments-form input[type="submit"],
.comments-form textarea {
    transition: 0.2s all ease-in-out;
    margin-bottom: 10px;
}
.comments-form input[type="text"],
.comments-form input[type="email"],
.comments-form input[type="submit"] {
  height: 42px;
}
.comments-form textarea {
  width: 100%;
  height: 175px;
  resize: none;
  padding-top: 15px;
  padding-bottom: 15px;
}
.comments-form input[type="text"],
.comments-form input[type="email"],
.comments-form textarea {
    border: 1px solid #cccccc;
    background: #ffffff;
    outline: none;
    padding-left: 15px;
    padding-right: 15px;
}
.comments-form textarea {
	margin-bottom:20px;
}
.comments-form input[type="text"]:focus,
.comments-form input[type="email"]:focus,
.comments-form textarea:focus {
  border-color: #d01d18;
}
.post-comments .fs_btn:before{
    height: 104%;
    top: -1px;
    left: -1px;
}
.post-comments .fs_btn:hover:before {
    width: 101%;
}
/*----gallery css start----*/
.fs_gallery_wrapper {
    width: 100%;
    float: left;
    background-image: url(../images/team_wrapper.jpg);
    background-size: cover;
    padding: 100px 0px;
    font-family: 'Open Sans', sans-serif;
}
.fs_gallery_wrapper h1.fs_heading {
    color: #ffffff;
}
.fs_gallery_inner {
    width: 100%;
    float: left;
    margin-top: 20px;
}

.fs_gallery_box {
	width: 100%;
    float: left;
    margin: 15px 0px;
    position: relative;
    overflow: hidden;
}
.fs_gallery_box img{
	transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -ms-transition: all 0.8s ease;
    -webkit-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
}
.fs_gallery_box:hover img {
    /* transform: scale(1.5); */
    /* -moz-transform: scale(1.5); */
    /* -webkit-transform: scale(1.5); */
    /* -o-transform: scale(1.5); */
    /* -ms-transform: scale(1.5); */
}

.fs_gallery_overlay{
    position: absolute;
    top: 25px;
    left: 25px;
    right: 25px;
    bottom: 25px;
    background-color:#d01d18;
    text-align: center;
    z-index: 1;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    visibility: hidden;
    -webkit-transform: scale(0, 0);
    -moz-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
}
.fs_gallery_box:hover .fs_gallery_overlay{
    opacity: 1;
    top: 25px;
    left: 25px;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    visibility: visible;
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
}
.fs_gallery_box .fs_gallery_overlay .fs_gallery_text{
	position:absolute;
    line-height: 40px;
    text-align: center;
    color: #fff;
    left:50%;
    top:50%;
	transform:translate(-50%, -50%);
	-webkit-transform:translate(-50%, -50%);
	-moz-transform:translate(-50%, -50%);
	-o-transform:translate(-50%, -50%);
	-ms-transform:translate(-50%, -50%);
}
.fs_gallery_text a {
	color: #ffffff;
    font-size: 25px;
    width: 40px;
    height: 40px;
    display: inline-block;
    border: 1px solid #ffffff;
    border-radius: 100%;
    margin-bottom: 15px;
}

.fs_gallery_text h3 {
    text-transform: capitalize;
    font-family: 'Rancho', cursive;
    font-size: 26px;
}
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
 opacity: 0;
 -webkit-backface-visibility: hidden;
 -webkit-transition: all 0.3s ease-out; 
 -moz-transition: all 0.3s ease-out; 
 -o-transition: all 0.3s ease-out; 
 transition: all 0.3s ease-out;
     /* -webkit-transform: scale(0.8); */
    /* -moz-transform: scale(0.8); */
    /* -ms-transform: scale(0.8); */
    /* -o-transform: scale(0.8); */
    /* transform: scale(0.8);  */
}
.mfp-with-zoom .mfp-content{
      -webkit-transform: scale(1);
    -moz-transform: scale(1); 
    -ms-transform: scale(1); 
    -o-transform: scale(1); 	
	
}
.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;

}
.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8;
    /* transform: scale(1); */
}

.mfp-with-zoom.mfp-removing .mfp-container, 
.mfp-with-zoom.mfp-removing.mfp-bg {
 opacity: 0;
}
/* .mfp-image-holder .mfp-content{ */
    /* opacity: 0; */
    /* -webkit-transition: all 0.5s ease-in-out; */
    /* -moz-transition: all 0.5s ease-in-out; */
    /* -o-transition: all 0.5s ease-in-out; */
    /* transition: all 0.5s ease-in-out; */
    /* -webkit-transform: scale(0.8); */
    /* -moz-transform: scale(0.8); */
    /* -ms-transform: scale(0.8); */
    /* -o-transform: scale(0.8); */
    /* transform: scale(0.8); */
/* } */
/* .mfp-image-holder .mfp-content { */
    /* opacity: 1; */
    /* -webkit-transform: scale(1); */
    /* -moz-transform: scale(1); */
    /* -ms-transform: scale(1); */
    /* -o-transform: scale(1); */
    /* transform: scale(1); */
/* } */
/* .mfp-gallery .mfp-image-holder .mfp-figure { */
    /* cursor: pointer; */
    /* -webkit-transform: scale(0.8); */
    /* -ms-transform: scale(0.8); */
    /* transform: scale(0.8); */
    /* transition: all 0.5s cubic-bezier(0.56, 0.16, 0.15, 0.86) 0s; */
/* } */
/* img.mfp-img { */
    /* -webkit-transform: scale(1); */
    /* -ms-transform: scale(1); */
    /* transform: scale(1); */
    /* opacity: 1; */
/* } */
/*----form css start----*/
.fs_form_wrapper{
	width:100%;
	float:left;
	padding-top:100px;
	font-family: 'Open Sans', sans-serif;
}
.fs_appoint_form{
	width:100%;
	float:left;
	background-color:#d01d18;
	padding:30px 20px; 
	text-align: center;
}
.fs_appoint_form .form_input_app_div.pc_form_2 .pc_input_section {
    width: 42%;
}
.fs_appoint_form .form_input_app_div.pc_form_2 .form-group {
    float: left;
}
.fs_appoint_form .form-control {
    height: 55px;
    /* letter-spacing: 1px; */
    background-color: transparent;
    background-image: none;
    border: 2px solid #ffffff;
    border-radius: 6px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    font-size: 16px;
	color:#ffffff;
}
.fs_appoint_form .form-control:focus{
	border-color:#ffffff;
}
.fs_appoint_form .fs_btn {
    background-color: transparent;
    border-radius: 6px;
    display: inline-block;
    height: 55px;
    line-height: 32px;
    border: 2px solid #ffffff;
    color: #fff;
}
.fs_appoint_form .fs_btn:before{
	background-color:#ffffff;
}
.fs_appoint_form .fs_btn:hover{
	color:#d01d18;
}
.fs_btn:focus{
	outline:none;
}

.fs_appoint_form .form-control::-webkit-input-placeholder { 
  color: #ffffff;
}
.fs_appoint_form .form-control::-moz-placeholder { 
  color: #ffffff;
}
.fs_appoint_form .form-control:-ms-input-placeholder { 
  color: #ffffff;
}
.fs_appoint_form .form-control:-moz-placeholder { 
  color: #ffffff;
}
/*----map css start----*/
.fs_map_wrapper{
	width:100%;
	float:left;
}
.ed_map iframe{
	width:100%;
	height:555px;
}
/*----footer css start----*/
.fs_footer_wrapper{
	width:100%;
	float:left;
	padding-top:95px;
	background-color:#1e1e1e;
	font-family: 'Open Sans', sans-serif;
}
.footer_about {
    margin-bottom: 40px;
}
.footer_about p {
    font-size: 16px;
    color: #838383;
    padding-top: 20px;
    line-height: 24px;
    margin: 0px;
}
h1.footer_heading {
    font-size: 35px;
    color: #ffffff;
    margin-bottom: 17px;
	font-family: 'Rancho', cursive;
}
ul.footer_menus {
    padding: 0px;
    margin: 0px;
    padding-right: 67px;
    width: 100%;
    float: left;
}

ul.footer_menus li {
    float: left;
    list-style: none;
    font-size: 16px;
    color: #838383;
    margin: 0px 2px 13px;
}

ul.footer_menus li a {
    color: #838383;
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
}
ul.footer_menus li a:hover{
	color:#d01d18;
}
.footer_box {
    /* margin-bottom: 20px; */
    float: left;
    width: 100%;
	margin-bottom: 40px;
}
ul.footer_con_info {
    width: 100%;
    float: left;
    padding: 0px;
    margin: 0px;
}

ul.footer_con_info li {
    list-style: none;
    color: #838383;
    font-size: 16px;
    margin-bottom: 10px;
	display:inline-block;
}

ul.footer_con_info li > a {
    font-size: 16px;
    color: #838383;
	text-decoration:none;
	/* margin-left: 10px; */
}
ul.footer_con_info li > a:hover{
	    color: #d01d18;
}
ul.footer_con_info li > span.ed_head {
    display: inline-block;
    width: 62px;
    color: #ffffff;
    float: left;
}
span.con_text {
    /* margin-left: 10px; */
    padding-left: 10px;
    width: calc(100% - 62px);
    float: left;
}
ul.footer_con_info li > span.con_text.ed_paragraph {
    display: inline-block;
    width: 80%;
    margin-left: 10px;
    vertical-align: top;
	line-height: 24px;
}
.fs_copyright {
    text-align: center;
    border-top: 1px solid #838383;
    margin-bottom: 30px;
    float: left;
    width: 100%;
}

.fs_copyright p {
    font-size: 16px;
    color: #838383;
    padding-top: 25px;
    margin: 0px;
}
/*----about page css start----*/
.brd_wrapper{
	width:100%;
	float:left;
	background-image:url(../images/bread_wrapper.jpg);
	background-size:cover;
	padding:90px 0px;
	
}
.brd_wrapper h1{
    color: #ffffff;
    font-size: 55px;
    margin: 0px;
    text-transform: capitalize;
    font-family: 'Rancho', cursive;
}
/*----counter css start----*/
.fs_counter_wrapper{
	width:100%;
	float:left;	
    padding: 80px 0px 100px;
}
.counter_box h3{
    font-size: 60px;
    color: #d01d18;
    margin-bottom: 0px;
    line-height: 80px;
    font-family: 'Rancho', cursive;
}
.counter_box {
    text-align: center;
}
.counter_box p{
    font-size: 28px;
    color: #3a3a3a;
    margin: 0px;
font-family: 'Rancho', cursive;
}
/*----menu page css start----*/
.fs_menu_list {
    width: 100%;
    float: left;
    padding: 85px 0px;
}
.fs_menu_box{
	width: 100%;
    float: left;
    padding: 15px 0px;
}
.fs_menu_list .fs_menu_price a {
    line-height: 9px;
    margin-top: 16px;
}
/*----contact page css start----*/
.fs_con_form{
    width: 100%;
    float: left;
    padding: 90px 0px 90px;
    font-family: 'Open Sans', sans-serif;
}
.fs_con_form h1.fs_heading{
    text-align: left;
}
.wp_contact_form .form-control {
    height: 47px;
    font-size: 16px;
    background-color: #fafcfd;
    color: #505050;
    border: 1px solid #e8e6e6;
    border-radius: 6px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}
.form-control:focus{
	border-color:#d01d18;
}
.wp_contact_form .form-group {
    margin-bottom: 30px;
}
.wp_contact_form textarea.form-control{
    height: 204px;
    resize: none;
    width: 98% !important;
}
.form-group.pc_input_section.con_msg {
    width: 100%;
}
.wp_contact_form .wp_btn {
    background-color: #f03467;
    border-radius: 10px;
    display: inline-block;
    height: 55px;
    line-height: 32px;
}
.wp_contact_form .wp_btn:hover {
    border-color: #f03467;
    color: #f03467;
    background-color: transparent;
}
.wp_contact_form  .form-control::-webkit-input-placeholder { 
  color: #505050;
}
.wp_contact_form  .form-control::-moz-placeholder { 
  color: #505050;
}
.wp_contact_form  .form-control:-ms-input-placeholder { 
  color: #505050;
}
.wp_contact_form  .form-control:-moz-placeholder { 
  color: #505050;
}
/*----blog page css start----*/
.fs_blog_wrapper a.fs_link {
    text-align: left;
}
.fs_blog_wrapper .fs_blog_data {
    text-align: left;
}
.fs_blog_wrapper .fs_blog_data h3 a {
    text-align: left;
    padding-bottom: 10px;
}
ul.post-links {
    width: 100%;
    float: left;
    padding: 0px;
    margin-bottom: 15px;
}
 .post-links li {
	display: table-cell;
	vertical-align: middle;
}
.post-links li:last-child {
	padding-right: 0;
}
.post-links li:last-child a {
	border-right: 0;
	margin-right: 0;
	padding-right: 0;
}
.post-links li a {
	color: #505050;
	font-size: 13px;
	padding-right: 15px;
	margin-right: 15px;
	border-right: 1px solid #D1D1D1;
	text-decoration:none;
	transition: all .3s ease;
}
.post-links li a:hover {
	color:#d01d18;
}
.post-links li a i {
    color: #d01d18;
    font-size: 16px;
    margin-right: 10px;
    transition: all .3s ease;
}
.page-navigation {
  margin-top: 50px;
}
.page-navigation li {
  display: inline;
}
.page-navigation li a,
.page-navigation li span {
    width: 46px;
    height: 46px;
    line-height: 44px;
    background: #fff;
    color: #3a3a3a;
    font-size: 20px;
    display: inline-block;
    border: 1px solid #cccccc;
    margin-right: 5px;
    text-align: center;
    z-index: 1;
	font-family: 'Rancho', cursive;
    text-decoration: none;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    position: relative;
}
.page-navigation li a:before, .page-navigation li span:before{
	width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    background-color: #d01d18;
}
.page-navigation li a:hover:before, .page-navigation li span:hover:before {
    width: 100%;
}
.page-navigation li a i,
.page-navigation li span i {
  font-size: 16px;
  color: #3a3a3a;
}
.page-navigation li a:hover i{
	color:#ffffff;
}
.page-navigation li span:hover, .page-navigation li a:hover {
    color: #ffffff;
	border-color: #d01d18;
}
/**--sidebar css start--**/
.blog-sidebar .sidebar-widget {
    margin-bottom: 40px;
}
.blog-sidebar .sidebar-widget h4 {
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 30px;
    font-size: 24px;
    color: #3a3a3a;
    text-transform: capitalize;
    font-family: 'Rancho', cursive;
}
.blog-sidebar .sidebar-widget h4:before {
    position: absolute;
    content: "";
    width: 40px;
    height: 2px;
    background-color: #d01d18;
    left: 0;
    bottom: 0px;
}
/*widget-search*/

.blog-sidebar .widget-search {
    position: relative;
}
.blog-sidebar .widget-search input {
	padding-left: 20px;
    color: #323232;
    height: 50px;
    border: 1px solid #f5f5f5;
    background-color: #f7f7f7;
    box-shadow: none;
    border-radius: 0px;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
}
.blog-sidebar .widget-search input:focus {
    background: transparent;
}
.blog-sidebar .widget-search i {
    position: absolute;
    right: 0px;
    padding: 16px 12px;
    font-size: 14px;
    color: #626262;
    cursor: pointer;
}
.blog-sidebar .widget-search input:focus {
    border: 1px solid #e93e21;
}
/*widget-link*/

.blog-sidebar .widget-link ul li {
    display: block;
    clear: both;
    line-height: 30px;
}
.blog-sidebar .widget-link ul li a i {
    padding-right: 10px;
}
.blog-sidebar .widget-link ul li a {
    display: block;
	font-size: 15px;
    border-bottom: 1px solid #cccccc;
    padding: 10px 0px;
    color: #505050;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
.blog-sidebar .widget-link ul li a:hover {
    color: #d01d18;
    border-color: #d01d18;
	margin-left: 5px;
}
/*recent-post*/

.blog-sidebar .sidebar-widget .recent-post {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-color: #e5e5e5;
}
.blog-sidebar .sidebar-widget .recent-post:last-child {
    border-bottom: 0px;
}
/*recent-post*/

.blog-sidebar .recent-post {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.11);
}
.blog-sidebar .recent-post:last-child {
    border-bottom: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.blog-sidebar .recent-post-block h6 {
    margin-bottom: 40px;
}
.blog-sidebar .recent-post-image {
    display: table-cell;
}
.blog-sidebar .recent-post-image img {
    vertical-align: middle;
    width: 70px;
    height: 54px;
	transition:all 0.25s ease-in-out;
	-moz-transition:all 0.25s ease-in-out;
	-ms-transition:all 0.25s ease-in-out;
	-o-transition:all 0.25s ease-in-out;
	-webkit-transition:all 0.25s ease-in-out;
}
.blog-sidebar .recent-post:hover .recent-post-image img{
	opacity:0.5;
}
.blog-sidebar .recent-post-info {
    display: table-cell;
    padding-left: 15px;
    vertical-align: top;
}
.blog-sidebar .recent-post-info a {
    color: #505050;
    font-size: 15px;
    vertical-align: top;
    display: block;
    text-decoration: none;
	transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
.blog-sidebar .recent-post-info a:hover {
    color: #d01d18;
}
.blog-sidebar .recent-post-info span {
    color: #909090;
    font-size: 12px;
    display: table;
    padding-top: 5px;
}
.blog-sidebar .recent-post-info i {
    color: #909090;
    font-size: 14px;
    padding-right: 5px;
}
.blog-sidebar .widget-link ul li:last-child a{
	border-bottom:none;
}
ul.tag-cloud {
    width: 100%;
    float: left;
    padding: 0px;
    margin: 0px;
}

ul.tag-cloud li {
    float: left;
}

ul.tag-cloud li a {
    padding: 10px 14px;
    text-decoration: none;
	font-size: 15px;
    text-transform: capitalize;
    display: block;
    background-color: #f4f4f4;
	border: 1px solid #cccccc;
    color: #505050;
    margin: 8px;
    margin-left: 0px;
    margin-top: 0px;
	position:relative;
	z-index:1;
}
ul.tag-cloud li a:before{
	width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    background-color: #d01d18;
}
ul.tag-cloud li a:hover:before {
    width: 100%;
	
}
ul.tag-cloud li a:hover{
    color: #ffffff;
	border-color:#d01d18;
}
/* .blog-entry .entry-button { */
    /* display: inline-block; */
/* } */
/* .blog-entry .social ul { */
    /* display: inline-block; */
/* } */
/* .blog-entry .social ul li { */
    /* display: inline-block; */
    /* padding: 0px 6px; */
/* } */
/* .blog-entry .social ul li a { */
    /* color: #e93e21; */
/* } */
/* .blog-entry .social ul li a:hover { */
    /* color: #353535; */
/* } */
/* .blog-entry .entry-button a:hover { */
    /* color: #1e2327; */
/* } */
/* .blog-entry .entry-button a i { */
    /* padding-left: 5px; */
    /* transition: all 0.5s ease-in-out; */
    /* -webkit-transition: all 0.5s ease-in-out; */
    /* -o-transition: all 0.5s ease-in-out; */
    /* -ms-transition: all 0.5s ease-in-out; */
    /* -o-transition: all 0.5s ease-in-out; */
/* } */
/* .blog-entry .entry-button a:hover i { */
    /* margin-left: 5px; */
/* } */
/*----media css start----*/

@media(max-width:1350px){
	.fs_menu_slider .owl-controls .owl-nav .owl-prev {
    left: -26px !important;
}
.fs_menu_slider .owl-controls .owl-nav .owl-next {
    right: -26px !important;
}	
}
@media(max-width:1240px){
	.fs_menu_slider .owl-controls .owl-nav .owl-prev {
    left: -12px !important;
    width: 35px;
    height: 35px;
    line-height: 31px;
}
.fs_menu_slider .owl-controls .owl-nav .owl-next {
    right: -12px !important;
    width: 35px;
    height: 35px;
    line-height: 31px;
}
}
@media(min-width:992px) and (max-width:1199px){
	.fs_appoint_form .form_input_app_div.pc_form_2 .pc_input_section {
    width: 40%;
}
ul.footer_con_info li > span.con_text.ed_paragraph {
    width: 70%;
}
.fs_menu_box h2 {
    font-size: 24px;
}
.fs_menu ul > li > a {
    padding: 36px 17px;
}
}
@media(min-width:768px) and (max-width:991px){
	.fs_menu ul > li > a {
    padding: 0px 10px;
    font-size: 17px;
}

.fs_appoint_form .form_input_app_div.pc_form_2 .pc_input_section {
    width: 38%;
}
.fs_menu_box h2 {
    font-size: 26px;
}
.fs_choose_data h1.fs_heading {
    text-align: center;
}
.fs_choose_data {
    text-align: center;
    margin-top: 30px;
}
.fs_about_data {
    text-align: center;
    margin-bottom: 30px;
}
.fs_about_data h1.fs_heading {
    text-align: center;
}
.fs_team_box {
    margin-bottom: 30px;
}
.brd_wrapper h1 {
    text-align: center;
}
.fs_menu ul > li > a {
    padding: 36px 9px;
    font-size: 15px;
}
.fs_menu ul > li:last-child a {
    padding: 9px 15px;
    margin-left: 15px;
}
.fs_logo {
    padding: 29px 0px;
}
.fs_about_img img {
    width: 100%;
}
.fs_blog_img img {
    width: 100%;
    display: inline-block;
}


.fs_banner_wrapper h1 {
    margin: 0 auto;
    width: 460px;
    margin-right: 0px;
    float: none;
    display: inline-block;
}
.blog-sidebar {
    margin-top: 30px;
}
.fs_btn {
      height: auto;
}
.fs_menu_box h2 a {
    font-size: 26px;
}
}
@media(max-width:991px){

}
@media(max-width:767px){
	.dropdown-expander {
    display: block;
}
	.fs_btn {
    height: auto;
}
	.blog-sidebar {
    margin-top: 30px;
}
	
	.fs_blog_img img {
    width: 100%;
    display: inline-block;
}

.menu-expander {
    display: block;
    position: absolute;
    right: 0px;
    top: -65px;
    font-size: 25px;
    cursor: pointer;
    color: #ffffff;
}
.fs_banner_wrapper h1 {
    margin: 0 auto;
    width: 460px;
    margin-right: 0px;
    float: none;
    display: inline-block;
}
.post-links li {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}


.fs_menu ul {
    background: #202020;
    display: none;
    height: auto;
    overflow-x: hidden;
    overflow-y: visible;
    position: absolute;
    right: 0;
    top: 100%;
    width: 100%;
    z-index: 1;
}
.fs_menu ul > li > ul.sub-menu {
    position: relative;
    width: 100%;
    background-color: #ffffff;
    left: 0px;
    top: 0;
    z-index: 1;
    display: none;
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1 ;
    -webkit-transition: none ;
    transition: none ;
    visibility:visible;
}
.fs_menu ul > li > a:before {
	display:none;
}
.fs_menu ul > li {
    width: 100%;
    float: left;
}
.fs_menu ul > li:last-child a {
    margin: 20px;
}
.fs_menu ul > li > a {
    padding: 13px 20px;
}
.fs_menu ul > li ul.sub-menu li a {
    margin: 0;
}
.fs_menu ul > li > a:hover{
	color:#d01d18;
}
li.dropdown .dropdown-expander {
    float: right;
}

.fs_appoint_form .form_input_app_div.pc_form_2 .pc_input_section {
    width: 38%;
}
.fs_menu_box h2 {
    font-size: 26px;
}
.fs_choose_data h1.fs_heading {
    text-align: center;
}
.fs_choose_data {
    text-align: center;
    margin-top: 30px;
}
.fs_about_data {
    text-align: center;
    margin-bottom: 30px;
}
.fs_about_data h1.fs_heading {
    text-align: center;
}
.fs_team_box {
    margin-bottom: 30px;
}
.fs_banner_wrapper h1 {
    width: 100%;
    margin-right: 0px;
    float: left;
    text-align: center;
}
.brd_wrapper h1 {
    text-align: center;
}
.counter_box {
    margin-bottom: 20px;
}
.fs_menu_box img{
    width: 100%;
}
.post-links li a {
    border-right: none;
}
}
@media(min-width:480px) and (max-width:766px){
	.fs_banner_wrapper h1 {
    font-size: 71px;
}
.fs_appoint_form .form_input_app_div.pc_form_2 .pc_input_section {
    width: 34%;
}
.fs_btn {
    font-size: 15px;
    padding: 10px 20px;
}
.fs_appoint_form .form-control {
    font-size: 11px;
	padding: 10px 16px !important;
}
}
@media(max-width:479px){
	.brd_wrapper h1 {
    font-size: 50px;
}
	.brd_wrapper h1 {
    text-align: center;
}
	.fs_banner_wrapper h1 {
    font-size: 56px;
}
h1.fs_heading {
    font-size: 35px;
}
.fs_best_wrapper h1 {
    font-size: 40px;
}
.fs_appoint_form .form_input_app_div.pc_form_2 .pc_input_section {
    width: 100%;
}
.form_input_app_div.pc_form_4 .pc_input_section .form-control, .form_input_app_div.pc_form_3 .pc_input_section .form-control, .form_input_app_div.pc_form_2 .pc_input_section .form-control {
    width: 100%;
}
ul.footer_con_info li > span.con_text.ed_paragraph {
    width: 100%;
    margin-left: 0px;
    margin-top: 15px;
}
ul.footer_con_info li {
    font-size: 15px;
}
.navbar-toggle {
    margin-top: -32px;
}
.form_input_app_div.pc_form_2 .pc_input_section {
    width: 100%;
}
.wp_contact_form textarea.form-control {
    width: 100% !important;
}
.post-links li {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}
.fs_blog_data {
    padding: 30px 15px;
}
.fs_blog_box:hover .news-date {
    bottom: 3px;
}
.date_border {
   padding: 5px 10px;
}
.news-date .year {
    font-size: 12px;
}
.news-date .month {
    font-size: 10px;
}
.page-navigation li a, .page-navigation li span {
    margin-bottom: 5px;
}
ul.footer_con_info li > a {
    margin-left: 0;
    margin-top: 15px;
    display: block;
}
.comments-list li ul {
    margin-left: 0;
}
.social_links {
    width: 100%;
    float: left;
}
.fs_btn {
    padding: 10px 28px;
}
.social_links > a {
    border: 1px solid #c6c6c6;
    color: #3a3a3a;
    line-height: 30px;
    margin-right: 4px;
    text-align: center;
    width: 30px;
    display: inline-block;
    position: relative;
    z-index: 1;
    margin-top: 10px;
}

}
@media(max-width:320px){}
